*{
    font-feature-settings: "tnum";
}
.container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    grid-gap: 5%;
}