
header {
    position: sticky;
    top: 0px;
    grid-area: header;
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 3%;
    height: auto;
    padding: 10px;
    background-image:linear-gradient(20deg,#00AEF3,#FDA720,#353977);
}

header section{
    height: 100%;
    width: 30%;
    display: grid;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: center;
    align-items: center;
}
header section h1{
    font-size: 35px;
    color: #353977;
    font-style: oblique;
    font-weight: bold;
    font-family: cursive;
    font-variant-position: super;
    text-shadow: 1px 2px 5px #FDA720;
}
